*{
  margin: 0;
}

.app{
  background-color:  whitesmoke;
}

.app_posts{
  padding: 20px;
}



.app__header{
  padding: 15px;
  background-color: #FAFAFA;
  object-fit: contain;
  border-bottom: 1px solid #FAFAFA;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app_headerImage {
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app_headerImage> img {
  height: 30px
}